/* .content {
    width: 49vw;
    justify-content: center;
    /* align-items: center; */
    /* display: flex; */
    /* flex-direction: column;
    text-align: center;
    padding: 117px 204px;
    font-size: 1.7rem;
} */ 

body{
    background-color:gold;
}