    
    
    .name {

        text-align: center;
        display: block;
        top: 26vh;
        position: relative;
        font-size: 38px;
        color: #4acabf;
        font-family: 'Victor Mono', monospace;
    }
    .skill{
        text-align: center;
        position: relative;
        top: 27vh;
    }
    .logo {
        position: relative;
        top: 35vh;
        text-align: center;
    }


    .logo img{
        width: 30px;
        height: 30px;
        border-radius: 10px;
        padding: 24px;
    
    }


 section{
    width: 100vw;
    height: 100vh;

}
section::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(/programming\ laptop.jpeg);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
} 
 

  /* .content{

    width: 100vw;
    height: 100vh;

 } */
 /* .content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: url(/programming\ laptop.jpeg);
    z-index: -1;
    opacity: 0.5;

 } 
  */




.facebook{
   
    /* background-color: gray; */
    
}
.instagram{
    /* width: 40px;
    height: 40px;
    border-radius: 10px; */
    /* background-color: gray; */

}
.twitter{
    /* width: 40px;
    height: 40px;
    border-radius: 10px; */
    /* background-color: gray; */

}
.youtube{
    /* width: 40px;
    height: 40px;
    border-radius: 10px; */
    /* background-color: gray; */

}
